* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.overallnav {
    height: 70px;
    width: 100%;
    background-color: rgba(128, 0, 128, 0.9);
    /* Purple with transparency */
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    z-index: 999;
    padding: 0px 10px;
}

.navalleft{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navleft {
    width: 70px;
    height: 95%;
}

.navleft img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navtitle{
    text-align: center;
    color: white;
    width: 170px;
    
}

.navright {
    display: flex;
    width: 60%;
    
    justify-content: end;
    gap: 50px;
    align-items: center;

}

.navright a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}

.navdownload {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navdownload a {
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    color: purple;
    text-decoration: none;
    padding: 5px 10px;
}

.whatsapp {

    position: fixed;
    right: 5%;
    bottom: -800%;
    z-index: 99;
    animation-name: whatsappani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    overflow: hidden;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);

}

@keyframes whatsappani {
    0% {
        scale: 1;
    }

    100% {
        border: 4px double white;
        transition: all 1.5s ease;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
        scale: 1.1;
    }
}

.navhalf{
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navright a:hover {
    color: #ff9800;
    transition: 0.3s;
}

.navmenu{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.navmenu button {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
}



.navmenu:hover button{
    background-color: transparent;
}
.menubar {
    display: none;
}

.menubar button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

/* Mobile Menu */
.mobilemenu {
    position: absolute;
    
    right: 0px;
    background: rgba(101, 4, 101, 0.7);
    top: 70px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    z-index: 10;
    height: 89vh;
    width: 40%;
    transition: all 1s ease;
}
.mobileinside {
    position: fixed;   /* cover whole screen */
    top: 70px;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: -5;  /* less than menu */
    background-color: rgba(68, 2, 68, 0.7);
   
}




.mobilelink {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.mobilelink:hover {
    color: #f39c12;
}

@media screen and (min-width:600px) and (max-width:900px) {
    .navright a {
        font-size: 15px;
    }

    .navright {
        width: 50%;
        gap: 10px;
    }
      .whatsapp{
        bottom: -1100%;
    }
    .overallnav{
        gap: 10px;
    }
    .navtitle{
        width: unset;
    }
    .navtitle h3{
        width: unset;
        font-size: 13px;
    }
    .navdownload{
    width: 100px;
    }
    .navdownload a{
        padding: 8px 4px;
        font-size: 12px;
    }
}
@media screen and (min-width:300px) and (max-width:610px) {
    .navright a {
        font-size: 12px;
    }
   
    

    .navright {
        gap: 30px;
    }
    .navright{
        display: none;
    }
  
    .navmenu{
        display: block;
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .overallnav{
        gap: 5px;
    }
    .navhalf{
        flex-direction: row-reverse;
    }
    .whatsapp{
        bottom: -1100%;
    }
    .navtitle{
        width: unset;
    }
       .navtitle h3{
       
        font-size: 13px;
    }
    .navdownload{
    width: 100px;
    }
    .navdownload a{
        padding: 4px 1px;
        font-size: 12px;
    }
    .navleft{
        height: 80%;
        width: 55px;
    }
}